@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(53, 53, 53);
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  max-height: 373px;
  width: 100%;
  border-radius: 5%;
  padding: 25px;
  box-shadow: 0 5px 10px;
  background-color: rgb(31, 31, 31);
}

.image {
  position: relative;
  width: 150px;
  height: 150px;
  bottom: 100px;
  padding: 3px;
  border-radius: 50%;
  margin-bottom: 5px;
  background-color: rgb(0, 220, 255);
}

.log {
  position: relative;
  bottom: 100px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
}

.image .profile-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.login .text-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-data {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  bottom: 90px;
  color: rgb(255, 255, 255);
}

#username {
  border-style: solid;
  text-align: center;
  border-radius: 10px;
  border-color: rgb(70, 70, 70);
  background-color: rgb(255, 255, 255);
}

.text-data .username {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3px;
}

#email {
  border-style: solid;
  text-align: center;
  border-radius: 10px;
  border-color: rgb(70, 70, 70);
  background-color: rgb(255, 255, 255);
}

.text-data .email {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#password {
  border-style: solid;
  text-align: center;
  border-radius: 10px;
  border-color: rgb(70, 70, 70);
  background-color: rgb(255, 255, 255);
}

.text-data .password {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
}

.text-data .remember {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.text-data .submit {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-data .submit #button {
  border-style: solid;
  height: 30px;
  width: 90px;
  border-radius: 0px;
  border-color: rgb(70, 70, 70);
  box-shadow: 0 0px 10px rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.text-data .submit #button:active {
  border-style: solid;
  height: 30px;
  width: 90px;
  border-radius: 0px;
  border-color: rgb(40, 40, 40);
  box-shadow: 0 0px 5px rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 25px;
  margin-top: 7px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

#sign {
  font-style: normal;
  text-decoration: none;
  font-optical-sizing: auto;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
.sign:active {
  background-color: black;
}

#sign:active {
  color: white;
}

@media (max-width: 400px) {
  .login {
    width: 250px;
  }
  .image {
    width: 140px;
    height: 140px;
    margin-bottom: 15px;
  }
}
@media (max-height: 530px) {
  .image {
    bottom: 60px;
    width: 110px;
    height: 110px;
    margin-bottom: 45px;
  }
}
