@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(105, 105, 105);
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    background-color: white;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px;
}

.image {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 3px;
    bottom: 100px;
    background-color: rgb(0, 220, 255);
    margin-bottom: 5px;
}

.log {
    position: relative;
    bottom: 100px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.image .profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.login .text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-data {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    bottom: 90px;
}

.text-data .username {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 3px;
}

.text-data .password {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-data .remember {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.text-data .submit {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-data .submit .button {
    height: 30px;
    width: 90px;
}
